# vi: set syntax=yaml expandtab ts=2:
#
---
config:
  p4-setup:
    user: rtosbuild
    p4tickets: /mnt/p4tickets
    servers:
      perforce:
        p4port: perforce.natinst.com:1666
        clientspec: rtosbuild-rtos-jslave-1-perforce
        p4root: /srv/jenkins/perforce
      penguin:
        p4port: penguin.natinst.com:1666
        clientspec: rtosbuild-rtos-jslave-1-penguin
        p4root: /srv/jenkins/penguin

  git-setup:
    remote: git://github.com/ni/nilrt.git # Change to ssh url for write-access
    branch: nilrt/master/sumo
    root: /mnt/nilrt.git

  bind-mounts:
    nilrt:
      src: /tmp/sravicha_docker/container_workspace
      dest: /mnt/nilrt.git
      read-only: False
    perforce:
      src: /srv/jenkins/perforce
      dest: /srv/jenkins/perforce
      read-only: False
    penguin:
      src: /srv/jenkins/penguin
      dest: /srv/jenkins/penguin
      read-only: False
    argo:
      src: /srv/jenkins/nas/us-aus-argo/RnD
      dest: /mnt/argo/RnD
      read-only: True
    perforceExports:
      src: /srv/jenkins/nas/nirvana/perforceExports
      dest: /mnt/perforceExports
      read-only: True
    penguinExports:
      src: /srv/jenkins/nas/baltic/penguinExports
      dest: /mnt/penguinExports
      read-only: True
    ssh-key: # git will be configured to use this ssh key for reads and writes
      src: /srv/jenkins/.ssh/id_rsa
      dest: /mnt/ssh/id_rsa
      read-only: True
    p4ticket:
      src: /srv/jenkins/.p4tickets
      dest: /mnt/p4tickets
      read-only: True

  build-env-scripts:
    - ../scripts/init-scripts/init-nilrt-git-env

  # scripts to copy into /etc/init.build-env.d, which will execute on
  # container start.
  container-start-scripts:

  image:
    name: nilrt-build
    tag:  latest

#  workspace:
#    username: oe-builder
#    uid: 1000
#    gid: 1000

# Environment variables to be set in the container
# env:
#    SRC: /x/yz/
